<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href= "/public/assets/app.css" rel="stylesheet" type="text/css" />
    <link rel="icon" href="/assets/logo2.png">
    <title>Aptsanket</title>
  </head>
  
  <body>
    <nav id="mainNavbar" class="navbar navbar-dark navbar-expand-md py-0 fixed-top">
        <div class="logo-image">
            <img src="/assets/logo2.png" class="img-fluid">
      </div>
      <a href="index.html" class="navbar-brand">Aptsanket</a>
  </nav>
  <section class="vh-100">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-lg-9 col-xl-9 mt-5">
          <div class="card text-black mt-5" style="border-radius: 25px;">
            <div class="card-body md-5">
              <div class="row justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7 order-2 order-lg-1">
  
                  <p class="text-center h1 fw-bold mb-2">Contact Person Details</p>
                  <form class="mx-1 mx-md-4" method="POST">
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <label class="namef">Name</label>
                        <input type="text" id="name" name="name" class="form-control" />
                      </div>
                    </div>
                    <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-envelope fa-lg me-6 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                          <label class="emailf">Email</label>
                          <input type="email" id="username" name="username" class="form-control" />
                        </div>
                      </div>
    
                      <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-lock fa-lg me-6 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                          <label class="passwordf" >Ph number</label>
                          <input type="text" id="password" name="password" class="form-control" />
                        </div>
                      </div>
                    <div class="d-flex justify-content-center mx-4">
                      <button class="btn btn-primary w-30 mt-3 me-3 mb-3">Add</button>
                    </div>
  
                  </form>
                  <form class="mx-1 mx-md-4" method="POST">
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <label class="namef">Name</label>
                        <input type="text" id="name" name="name" class="form-control" />
                      </div>
                    </div>
                    <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-envelope fa-lg me-6 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                          <label class="emailf">Email</label>
                          <input type="email" id="username" name="username" class="form-control" />
                        </div>
                      </div>
    
                      <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-lock fa-lg me-6 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                          <label class="passwordf" >Ph number</label>
                          <input type="text" id="password" name="password" class="form-control" />
                        </div>
                      </div>
                    <div class="d-flex justify-content-center mx-4">
                      <button class="btn btn-primary w-30 mt-3 me-3 mb-3">Add</button>
                    </div>
  
                  </form><form class="mx-1 mx-md-4" method="POST">
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <label class="namef">Name</label>
                        <input type="text" id="name" name="name" class="form-control" />
                      </div>
                    </div>
                    <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-envelope fa-lg me-6 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                          <label class="emailf">Email</label>
                          <input type="email" id="username" name="username" class="form-control" />
                        </div>
                      </div>
    
                      <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-lock fa-lg me-6 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                          <label class="passwordf" >Ph number</label>
                          <input type="text" id="password" name="password" class="form-control" />
                        </div>
                      </div>
                    <div class="d-flex justify-content-center mx-4">
                      <button class="btn btn-primary w-30 mt-3 me-3 mb-3">Add</button>
                    </div>
  
                  </form>
                  <form class="mx-1 mx-md-4" method="POST" action="/form2">
                    <p class="text-center h1 fw-bold mb-2">Doctor Details</p>
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <label class="namef">Name</label>
                        <input type="text" id="name" name="name" class="form-control" />
                      </div>
                    </div>
                    <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-envelope fa-lg me-6 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                          <label class="emailf">Email</label>
                          <input type="email" id="username" name="username" class="form-control" />
                        </div>
                      </div>
    
                      <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-lock fa-lg me-6 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                          <label class="passwordf" >Ph number</label>
                          <input type="text" id="password" name="password" class="form-control" />
                        </div>
                      </div>
                    <div class="d-flex justify-content-center mx-4">
                      <button class="btn btn-primary w-30 mt-3 me-3 mb-3">Add</button>
                    </div>
  
                  </form>
                  <form action="/login">
                    <div class="d-flex justify-content-center mx-4">
                        <button class="btn btn-primary w-30 mt-3 me-3 mb-3">Submit</button>
                      </div>                  
                    </form>
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
</html>